/*CSS */

body{
	background: #6B6464;
	color:#EEEEEE;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	line-height:100%;
}

#menu_top{
    background-color: #505464;	
    width: 100%;
    height: 100px;	
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index:999;
}

#menu{
	position:absolute;
	top:15%;
	height:auto;
	width:auto;
	padding-left:2%;
    padding-right:2%;
}

#body_container {	
    position: absolute;
    top:18%;
    height: auto;
    width: 100%;
    z-index:1;
}

#left {
background: #654312;
    float: left;
    width: 33%; 
    min-height:1080px;
}
#right {
background: #000000;
    float: left;
    width: 66%; 
    min-height:1080px;
}

#in_left{
	background-color: #DDDDDD;
    position:relative;
	float:left;
    min-height:1080px;
    width:70%;
}

#in_right{
	background-color: #123456;
    position:relative;
    float:left;
    min-height:1080px;
    width:30%;
}

#login {
    position: absolute;
    right: 1em;
    top: 2em;
}

#logo {
     text-align: center;
}