/*CSS */

body{
	background: #6B6464;
	color:#EEEEEE;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	line-height:100%;
}

#menu_top{
    background-color: #505464;	
    width: 100%;
    height: 100px;	
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index:999;
}

#menu{
	position:absolute;
	top:15%;
	height:auto;
	width:auto;
	padding-left:2%;
    padding-right:2%;
}

#body_container {	
    position: absolute;
    top:25%;
    height: auto;
    width: 98%;
    z-index:1;
}

#left {
    float:left;
    height:1000px;
    width: 19%;
    padding-left:2%;
    padding-right:2%;
}
#right {
background: #000000;
    position: fixed;
    right:0px;
    top:20%;
    height:100%;
    width: 75%;
    padding-right:2%;
    padding-left:2%;
}

#in_left{
	background-color: #DDDDDD;
    position: relative;
	float:left;
    height:1000px;
    width: 19%;
    padding-left:2%;
    padding-right:2%;
}

#in_right{
	background-color: #CCCCCC;
	position: relative;
	right:0px;
    top:20%;
    height:100%;
    width: 75%;
    padding-right:2%;
    padding-left:2%;
}

#login {
    position: absolute;
    right: 1em;
    top: 2em;
}

#logo {
     text-align: center;
}