/*CSS */

body{
	background: #6B6464;
	color:#EEEEEE;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	line-height:100%;
}

#menu_top
{
    background-color: #505464;	
	/* posizione e dimensioni */
    width: 100%;
    height: 100px;	
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index:999;
	
	/* misc */
	/*
    font-family: Verdana, Geneva, sans-serif;
    color: rgb(255,255,255);
    font-size: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(63,189,237);
	*/
}

#body_container 
{	
	/* posizione e dimensioni */
    position: absolute;
    top:25%;
    height: auto;
    width: 98%;
    z-index:1;
}

#left {
    float:left;
    height:1000px;
    width: 19%;
    padding-left:2%;
    padding-right:2%;
}
#right {
    position: fixed;
    right:0px;
    top:20%;
    height:100%;
    width: 75%;
    padding-right:2%;
    padding-left:2%;
}

#login {
    position: absolute;
    right: 1em;
    top: 2em;
}

#logo {
     text-align: center;
}